# Environment variables
.env

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Uploaded files
uploads/

# Task list (can be regenerated)
tasks.json

# api token list (secret)
api_tokens.json
